In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [85]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response=requests.get(url)
soup=BeautifulSoup(response.content, 'html.parser')

In [104]:
names=[]
first_name=[]
first_name_1=soup.find('div', class_="rankings-block__banner--name").text

first_name_1

'Babar Azam'

In [140]:
names=[]
team=soup.find_all('td', class_="table-body__cell name")
for x in range(0,9):
    names.append(team[x].get_text().replace("\n",""))
names.insert(0,first_name_1)

In [141]:
names

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [146]:
first_team=soup.find('div', class_="rankings-block__banner--nationality").text
Team=[]  

team_name=soup.find_all('span', class_="table-body__logo-text")
for x in range(0,9):
    Team.append(team_name[x].get_text().replace("\n",""))
Team.insert(0,first_team)

In [147]:
Team

['\n\nPAK\n873\n', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA']

In [148]:

rate_one=soup.find('div', class_="rankings-block__banner--rating").text
rating=[]
Team_rating=soup.findAll('td', class_="table-body__cell u-text-right rating")
for x in range(0,9):
    rating.append(Team_rating[x].get_text().replace("\n",""))
rating.insert(0,rate_one)

In [118]:
rating

['873', '844', '813', '801', '779', '775', '762', '758', '754', '747']

In [134]:
pos_one=soup.find('div',class_='rankings-block__banner--pos').text
rank=[]
Team_rank=soup.findAll('td',class_='table-body__cell table-body__cell--position u-text-right')
for x in range(0,9):
    rank.append(Team_rank[x].get_text().replace("\n",""))
rank.insert(0,pos_one)

In [149]:
rank

['\n                        1\n        \n',
 '                                    2        ',
 '                                    3        ',
 '                                    4        ',
 '                                    5        ',
 '                                    6        ',
 '                                    7        ',
 '                                    8        ',
 '                                    9        ',
 '                                    10        ']

In [151]:
data = list(zip(names,Team,rating,rank))

In [152]:
df = pd.DataFrame(data,columns=['names','Team','rating','rank'])

In [153]:
df

,names,Team,rating,rank
0,Babar Azam,\n\nPAK\n873\n,873,\n 1\n \n
1,Virat Kohli,IND,844,2
2,Rohit Sharma,IND,813,3
3,Ross Taylor,NZ,801,4
4,Aaron Finch,AUS,779,5
5,Jonny Bairstow,ENG,775,6
6,David Warner,AUS,762,7
7,Shai Hope,WI,758,8
8,Kane Williamson,NZ,754,9
9,Quinton de Kock,SA,747,10