In [21]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [22]:
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response=requests.get(url)
soup=BeautifulSoup(response.content, 'html.parser')

In [85]:
team = soup.find_all('span', class_='u-hide-phablet')
ODI_team = []
for i in range(0,10):
    ODI_team.append(team[i].get_text().replace("\n",""))
ODI_team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [29]:
team1_points = soup.find('td', class_='rankings-block__banner--points').text
team1_points

'2,054'

In [30]:
team1_rating = soup.find('td', class_='rankings-block__banner--rating u-text-right').text.replace('\n'," ").strip(' ')
team1_rating

'121'

In [31]:
team1_matches = soup.find('td', class_='rankings-block__banner--matches').text
team1_matches

'17'

In [44]:
team1_rank=soup.find('td', class_='rankings-block__banner--pos').text
team1_rank

'1'

In [33]:
aditional_info = soup.find_all('td', class_='table-body__cell u-center-text')

In [35]:
ODI_match = []
for i in range(0,18,2):
    ODI_match.append(aditional_info[i].get_text().replace("\n",""))
ODI_match
ODI_match.insert(0, "17")
ODI_match

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

In [36]:
ODI_points = []
for i in range(1,18,2):
    ODI_points.append(aditional_info[i].get_text().replace("\n",""))
ODI_points.insert(0, "2,054")
ODI_points

['2,054',
 '3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [57]:
rating = soup.find_all('td', class_='table-body__cell u-text-right rating')
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating
ODI_rating.insert(0, "121")
ODI_rating

['121', '119', '116', '113', '98', '93', '91', '84', '83', '62']

In [58]:
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating

['119', '116', '113', '98', '93', '91', '84', '83', '62', '62']

In [84]:
rank = soup.find_all('td', class_='table-body__cell table-body__cell--position u-text-right')
ODI_rank = []
for i in range(0,9):
    ODI_rank.append(rank[i].get_text().replace("\n",""))
ODI_rank.insert(0, "1")
ODI_rank

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

data = list(zip(ODI_team,ODI_match,ODI_points,ODI_rating,ODI_rank))

In [96]:
data = list(zip(ODI_team,ODI_match,ODI_points,ODI_rating,ODI_rank))

In [97]:
df = pd.DataFrame(data,columns=['ODI_team','ODI_match','ODI_points','ODI_rating','ODI_rank'])

In [98]:
df

       ODI_team ODI_match ODI_points ODI_rating ODI_rank
0   New Zealand        17      2,054        119        1
1       England        32      3,793        116        2
2     Australia        28      3,244        113        3
3         India        32      3,624         98        4
4  South Africa        25      2,459         93        5
5      Pakistan        27      2,524         91        6
6    Bangladesh        30      2,740         84        7
7   West Indies        30      2,523         83        8
8     Sri Lanka        32      2,657         62        9
9   Afghanistan        17      1,054         62       10