In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as soup
from requests import get

In [5]:
url=get('https://www.imdb.com/list/ls009997493/')

In [6]:
request=url.text
soup_data=soup(request,'html.parser')

In [7]:
soup_data.title.text

'IMDB Top 100 Hindi Movies - IMDb'

In [14]:
movies=soup_data.findAll('div',{'class':'lister-item-content'})

In [16]:
first_movie=movies[0]

In [18]:
first_movie.h3.a.text

'Rang De Basanti'

In [19]:
first_movie.h3

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0405508/">Rang De Basanti</a>
<span class="lister-item-year text-muted unbold">(2006)</span>
</h3>

In [29]:
first_movie.find('span',{'class':"lister-item-year text-muted unbold"}).text

'(2006)'

In [33]:
first_movie.find('span',{'class':"ipl-rating-star__rating"})

In [34]:
Name=[]
Year=[]
Rating=[]
for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{'class':"lister-item-year text-muted unbold"}).text)
    Rating.append(i.find('span',{'class':"ipl-rating-star__rating"}))

In [35]:
data=list(zip(Name,Year,Rating))

In [36]:
df=pd.DataFrame(data,columns=['Name','Year','Rating'])

In [37]:
df

                      Name    Year Rating
0          Rang De Basanti  (2006)  [8.1]
1                 3 Idiots  (2009)  [8.4]
2         Taare Zameen Par  (2007)  [8.4]
3           Dil Chahta Hai  (2001)  [8.1]
4   Swades: We, the People  (2004)  [8.2]
..                     ...     ...    ...
95             Wake Up Sid  (2009)  [7.6]
96                Rangeela  (1995)  [7.5]
97     Shatranj Ke Khilari  (1977)  [7.7]
98      Pyaar Ka Punchnama  (2011)  [7.6]
99           Ek Hasina Thi  (2004)  [7.5]

[100 rows x 3 columns]