In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as soup
from requests import get

In [2]:
url=get('https://www.imdb.com/list/ls091520106/')

In [3]:
request=url.text
soup_data=soup(request,'html.parser')

In [4]:
soup_data.title.text

'Top 100 Movies Bucket List - IMDb'

In [6]:
movies=soup_data.findAll('div',{'class':'lister-item-content'})

In [9]:
first_movie=movies[0]

In [10]:
first_movie.h3.a.text

'The Shawshank Redemption'

In [11]:
  first_movie.h3

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0111161/">The Shawshank Redemption</a>
<span class="lister-item-year text-muted unbold">(1994)</span>
</h3>

In [12]:
first_movie.find('span',{'class':"lister-item-year text-muted unbold"}).text

'(1994)'

In [13]:
first_movie.find('span',{'class':"ipl-rating-star__rating"})

In [14]:
Name=[]
Year=[]
Rating=[]
for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{'class':"lister-item-year text-muted unbold"}).text)
    Rating.append(i.find('span',{'class':"ipl-rating-star__rating"}))

In [15]:
data=list(zip(Name,Year,Rating))

In [16]:
df=pd.DataFrame(data,columns=['Name','Year','Rating'])

In [17]:
df

                                   Name    Year Rating
0              The Shawshank Redemption  (1994)  [9.3]
1                         The Godfather  (1972)  [9.2]
2                The Godfather: Part II  (1974)    [9]
3                       The Dark Knight  (2008)    [9]
4                          12 Angry Men  (1957)    [9]
..                                  ...     ...    ...
95                   North by Northwest  (1959)  [8.3]
96                   A Clockwork Orange  (1971)  [8.3]
97                               Snatch  (2000)  [8.3]
98  Le fabuleux destin d'Amélie Poulain  (2001)  [8.3]
99                              The Kid  (1921)  [8.3]

[100 rows x 3 columns]