In [44]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [45]:
url='https://www.dineout.co.in/delhi-restaurants/buffet-special'
response=requests.get(url)
soup=BeautifulSoup(response.content)

In [46]:
name=soup.find('div',class_='restnt-info cursor').text
names=[]
for i in soup.findAll('div',class_='restnt-info cursor'):
    names.append(i.text)

In [47]:
names

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [48]:
location=soup.find('div',class_='restnt-loc ellipsis').text
locations=[]
for i in soup.findAll('div',class_='restnt-loc ellipsis'):
    locations.append(i.text)

In [49]:
locations

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [55]:
rating=[]

for i in soup.find_all("div", class_="restnt-rating rating-3"):

    rating.append(i.text)

for i in soup.find_all("div", class_="restnt-rating rating-4"):

    rating.append(i.text)

rating

['3.4',
 '3.9',
 '4',
 '4.3',
 '4.1',
 '3.9',
 '3.7',
 '4',
 '4.4',
 '4.3',
 '3.8',
 '4.3',
 '4']

In [51]:
ratings

[]

In [52]:
cuisine=soup.find('div',class_='detail-info')
cuisine.text.split('|')[1]
cuisines=[]
for i in soup.findAll('div',class_='detail-info'):
    cuisines.append(i.text)

In [53]:
cuisines

['₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 1,400 for 2 (approx) | North Indian, Barbecue, Italian, Asian',
 '₹ 2,000 for 2 (approx) | North Indian, Chinese',
 '₹ 3,000 for 2 (approx) | Multi-Cuisine, North Indian, Italian, Continental, Mediterranean1 offer available',
 '₹ 1,800 for 2 (approx) | Barbecue, Chinese, Mughlai, North Indian',
 '₹ 2,400 for 2 (approx) | North Indian, Italian, Oriental 1 offer available',
 '₹ 1,500 for 2 (approx) | Barbecue, North Indian1 offer available',
 '₹ 1,600 for 2 (approx) | North Indian, Chinese, Fast Food1 offer available',
 '₹ 900 for 2 (approx) | North Indian, Chinese, Continental1 offer available',
 '₹ 2,200 for 2 (approx) | North Indian, Mughlai, Barbecue',
 '₹ 800 for 2 (approx) | North Indian, Mughlai',
 '₹ 1,500 for 2 (approx) | Barbecue, Chinese, North Indian',
 '₹ 3,400 for 2 (approx) | Multi-Cuisine, Asian, European, Italian, North Indian1 offer available']

In [54]:
images = []

for i in soup.find_all("img", class_="no-img"):

    images.append(i['data-src'])

images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

In [57]:
Weather_df=pd.DataFrame({'Name':names,'location':locations,'rating':rating,'cuisine':cuisines,'Image':images})

In [58]:
Weather_df

,Name,location,rating,cuisine,Image
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi",3.4,"₹ 2,000 for 2 (approx) | Chinese, North Indian",https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,"₹ 1,400 for 2 (approx) | North Indian, Barbecu...",https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Pacific Mall,Tagore Garden, West Delhi",4,"₹ 2,000 for 2 (approx) | North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,"₹ 3,000 for 2 (approx) | Multi-Cuisine, North ...",https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida",4.1,"₹ 1,800 for 2 (approx) | Barbecue, Chinese, Mu...",https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi",3.9,"₹ 2,400 for 2 (approx) | North Indian, Italian...",https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,"₹ 1,500 for 2 (approx) | Barbecue, North India...",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",4,"₹ 1,600 for 2 (approx) | North Indian, Chinese...",https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.4,"₹ 900 for 2 (approx) | North Indian, Chinese, ...",https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,"₹ 2,200 for 2 (approx) | North Indian, Mughlai...",https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","Sector 29, Faridabad",3.8,"₹ 800 for 2 (approx) | North Indian, Mughlai",https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","NIT, Faridabad",4.3,"₹ 1,500 for 2 (approx) | Barbecue, Chinese, No...",https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"DoubleTree By Hilton Gurugram Baani Square,Sec...",4,"₹ 3,400 for 2 (approx) | Multi-Cuisine, Asian,...",https://im1.dineout.co.in/images/uploads/resta...