In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [6]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
response=requests.get(url)
soup=BeautifulSoup(response.content, 'html.parser')

In [7]:
names=[]
first_name=[]
first_name_1=soup.find('div', class_="rankings-block__banner--name-large").text

first_name_1

'Trent Boult'

In [8]:
names=[]
team=soup.find_all('td', class_="table-body__cell rankings-table__name name")
for x in range(0,9):
    names.append(team[x].get_text().replace("\n",""))
names.insert(0,first_name_1)

In [9]:
names

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [10]:
first_team=soup.find('div', class_="rankings-block__banner--nationality").text
Team=[]  

team_name=soup.find_all('span', class_="table-body__logo-text")
for x in range(0,9):
    Team.append(team_name[x].get_text().replace("\n",""))
Team.insert(0,first_team)

In [12]:
Team

['\n\nNZ\n', 'AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA']

In [14]:
rate_one=soup.find('div', class_="rankings-block__banner--rating").text
rating=[]


Team_rating=soup.findAll('td', class_="table-body__cell rating")
for x in range(0,9):
    rating.append(Team_rating[x].get_text().replace("\n",""))
rating.insert(0,rate_one)

In [15]:
rating

['737', '709', '708', '700', '692', '691', '679', '652', '650', '646']

In [20]:
pos_one=soup.find('td',class_='rankings-block__position').text
rank=[]


Team_rank=soup.findAll('td',class_='table-body__cell table-body__cell--position u-text-right')
for x in range(0,9):
    rank.append(Team_rank[x].get_text().replace("\n",""))
rank.insert(0,pos_one)

In [21]:
rank

['1',
 '                            2        ',
 '                            3        ',
 '                            4        ',
 '                            5        ',
 '                            6        ',
 '                            7        ',
 '                            8        ',
 '                            9        ',
 '                            10        ']

In [22]:
data = list(zip(names,Team,rating,rank))

In [23]:
df = pd.DataFrame(data,columns=['names','Team','rating','rank'])

In [24]:
df

              names      Team rating                                    rank
0       Trent Boult  \n\nNZ\n    737                                       1
1    Josh Hazlewood       AUS    709                               2
2  Mujeeb Ur Rahman       AFG    708                               3
3      Chris Woakes       ENG    700                               4
4      Mehedi Hasan       BAN    692                               5
5        Matt Henry        NZ    691                               6
6    Jasprit Bumrah       IND    679                               7
7    Mitchell Starc       AUS    652                               8
8   Shakib Al Hasan       BAN    650                               9
9     Kagiso Rabada        SA    646                              10