In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
response=requests.get(url)
soup=BeautifulSoup(response.content, 'html.parser')

In [3]:
names=[]
first_name=[]
first_name_1=soup.find('div', class_="rankings-block__banner--name-large").text

first_name_1

'Lizelle Lee'

In [4]:
names=[]
team=soup.find_all('td', class_="table-body__cell rankings-table__name name")
for x in range(0,9):
    names.append(team[x].get_text().replace("\n",""))
names.insert(0,first_name_1)

In [5]:
names

['Lizelle Lee',
 'Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Heather Knight',
 'Laura Wolvaardt']

In [6]:
first_team=soup.find('div', class_="rankings-block__banner--nationality").text
Team=[]  


team_name=soup.find_all('span', class_="table-body__logo-text")
for x in range(0,9):
    Team.append(team_name[x].get_text().replace("\n",""))
Team.insert(0,first_team)

In [10]:
Team

['\n\nSA\n', 'AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'ENG', 'SA']

In [12]:
rate_one=soup.find('div', class_="rankings-block__banner--rating").text
rating=[]


Team_rating=soup.findAll('td', class_="table-body__cell rating")
for x in range(0,9):
    rating.append(Team_rating[x].get_text().replace("\n",""))
rating.insert(0,rate_one)

In [13]:
rating

['761', '750', '738', '728', '717', '710', '699', '690', '674', '672']

In [16]:
pos_one=soup.find('td',class_='rankings-block__position').text
rank=[]


Team_rank=soup.findAll('td',class_='table-body__cell table-body__cell--position u-text-right')
for x in range(0,9):
    rank.append(Team_rank[x].get_text().replace("\n",""))
rank.insert(0,pos_one)

In [17]:
rank

['1',
 '                            2        ',
 '                            3        ',
 '                            4        ',
 '                            5        ',
 '                            6        ',
 '                            7        ',
 '                            8        ',
 '                            9        ',
 '                            10        ']

In [18]:
data = list(zip(names,Team,rating,rank))

In [19]:
df = pd.DataFrame(data,columns=['names','Team','rating','rank'])

In [20]:
df

               names      Team rating                                    rank
0        Lizelle Lee  \n\nSA\n    761                                       1
1       Alyssa Healy       AUS    750                               2
2        Mithali Raj       IND    738                               3
3     Tammy Beaumont       ENG    728                               4
4  Amy Satterthwaite        NZ    717                               5
5    Smriti Mandhana       IND    710                               6
6        Meg Lanning       AUS    699                               7
7        Beth Mooney       AUS    690                               8
8     Heather Knight       ENG    674                               9
9    Laura Wolvaardt        SA    672                              10