In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [30]:
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response=requests.get(url)
soup=BeautifulSoup(response.content, 'html.parser')

In [31]:
response

In [33]:
team = soup.find_all('span', class_='u-hide-phablet')
ODI_team = []
for i in range(0,10):
    ODI_team.append(team[i].get_text().replace("\n",""))

In [34]:
ODI_team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [35]:
team1_points = soup.find('td', class_='rankings-block__banner--points').text
team1_points

'3,379'

In [36]:
team1_rating = soup.find('td', class_='rankings-block__banner--rating u-text-right').text.replace('\n'," ").strip(' ')
team1_rating

'161'

In [37]:
team1_matches = soup.find('td', class_='rankings-block__banner--matches').text
team1_matches

'21'

In [38]:
team1_rank=soup.find('td', class_='rankings-block__banner--pos').text
team1_rank

'1'

In [39]:
aditional_info = soup.find_all('td', class_='table-body__cell u-center-text')

In [41]:
ODI_match = []
for i in range(0,18,2):
    ODI_match.append(aditional_info[i].get_text().replace("\n",""))
ODI_match
ODI_match.insert(0, "21")
ODI_match

['21', '25', '29', '26', '26', '22', '20', '5', '11', '2']

In [42]:
ODI_points = []
for i in range(1,18,2):
    ODI_points.append(aditional_info[i].get_text().replace("\n",""))
ODI_points.insert(0, "3,379")
ODI_points

['3,379',
 '2,983',
 '3,390',
 '2,934',
 '2,392',
 '1,872',
 '1,496',
 '306',
 '519',
 '25']

In [43]:
rating = soup.find_all('td', class_='table-body__cell u-text-right rating')
ODI_rating = []
for i in range(0,9):
    ODI_rating.append(rating[i].get_text().replace("\n",""))
ODI_rating
ODI_rating.insert(0, "161")
ODI_rating

['161', '119', '117', '113', '92', '85', '75', '61', '47', '13']

In [44]:
rank = soup.find_all('td', class_='table-body__cell table-body__cell--position u-text-right')
ODI_rank = []
for i in range(0,9):
    ODI_rank.append(rank[i].get_text().replace("\n",""))
ODI_rank.insert(0, "1")
ODI_rank

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [45]:
data = list(zip(ODI_team,ODI_match,ODI_points,ODI_rating,ODI_rank))

In [50]:
df = pd.DataFrame(data,columns=['ODI_team','ODI_match','ODI_points','ODI_rating','ODI_rank'])

In [51]:
df

       ODI_team ODI_match ODI_points ODI_rating ODI_rank
0     Australia        21      3,379        161        1
1       England        25      2,983        119        2
2  South Africa        29      3,390        117        3
3         India        26      2,934        113        4
4   New Zealand        26      2,392         92        5
5   West Indies        22      1,872         85        6
6      Pakistan        20      1,496         75        7
7    Bangladesh         5        306         61        8
8     Sri Lanka        11        519         47        9
9       Ireland         2         25         13       10