In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
response=requests.get(url)
soup=BeautifulSoup(response.content, 'html.parser')

In [5]:
names=[]
first_name=[]
first_name_1=soup.find('div', class_="rankings-block__banner--name-large").text

first_name_1

'Marizanne Kapp'

In [6]:
names=[]
team=soup.find_all('td', class_="table-body__cell rankings-table__name name")
for x in range(0,9):
    names.append(team[x].get_text().replace("\n",""))
names.insert(0,first_name_1)

In [7]:
names

['Marizanne Kapp',
 'Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami']

In [8]:
first_team=soup.find('div', class_="rankings-block__banner--nationality").text
Team=[]  


team_name=soup.find_all('span', class_="table-body__logo-text")
for x in range(0,9):
    Team.append(team_name[x].get_text().replace("\n",""))
Team.insert(0,first_team)

In [9]:
Team

['\n\nSA\n', 'ENG', 'AUS', 'WI', 'IND', 'AUS', 'SA', 'AUS', 'ENG', 'IND']

In [10]:
rate_one=soup.find('div', class_="rankings-block__banner--rating").text
rating=[]


Team_rating=soup.findAll('td', class_="table-body__cell rating")
for x in range(0,9):
    rating.append(Team_rating[x].get_text().replace("\n",""))
rating.insert(0,rate_one)

In [11]:
rating

['384', '372', '365', '322', '299', '275', '274', '272', '272', '251']

In [12]:
pos_one=soup.find('td',class_='rankings-block__position').text
rank=[]


Team_rank=soup.findAll('td',class_='table-body__cell table-body__cell--position u-text-right')
for x in range(0,9):
    rank.append(Team_rank[x].get_text().replace("\n",""))
rank.insert(0,pos_one)

In [13]:
rank

['1',
 '                            2        ',
 '                            3        ',
 '                            4        ',
 '                            5        ',
 '                            6        ',
 '                            7        ',
 '                            8        ',
 '',
 '                            10        ']

In [14]:
data = list(zip(names,Team,rating,rank))

In [15]:
df = pd.DataFrame(data,columns=['names','Team','rating','rank'])

In [16]:
df

              names      Team rating                                    rank
0    Marizanne Kapp  \n\nSA\n    384                                       1
1    Natalie Sciver       ENG    372                               2
2      Ellyse Perry       AUS    365                               3
3   Stafanie Taylor        WI    322                               4
4     Deepti Sharma       IND    299                               5
5  Ashleigh Gardner       AUS    275                               6
6  Dane van Niekerk        SA    274                               7
7     Jess Jonassen       AUS    272                               8
8   Katherine Brunt       ENG    272
9    Jhulan Goswami       IND    251                              10